<section class="catalogo">
  <h2 style="text-align: center;">Catálogo de Productos</h2>

  <div class="grid">
    <!-- Productos reales -->
    <div *ngFor="let p of productosFiltrados" class="card">
      <img
        *ngIf="p.imagenUrl"
        [src]="p.imagenUrl"
        alt="{{ p.nombre }}"
        class="card-img"
      />
      <h3>{{ p.nombre }}</h3>
      <p>{{ p.descripcion }}</p>
      <p><strong>Precio: </strong>${{ p.precioActual | number: '1.0-0' }}</p>
    </div>

    <!-- Placeholders invisibles para mantener la altura -->
    <div *ngFor="let i of placeholders" class="card placeholder"></div>
  </div>

  <div class="paginacion">
    <button
      *ngFor="let pagina of totalPaginas"
      [class.activa]="pagina === currentPage"
      (click)="cambiarPagina(pagina)"
    >
      {{ pagina }}
    </button>
  </div>
</section>
