<div class="dashboard-layout">
    
    <div class="dashboard-sidebar">
      <button (click)="seccionActiva = 'ventas'"> Ventas</button>
      <button (click)="seccionActiva = 'desempeno'"> Desempeño</button>
      <button (click)="seccionActiva = 'promos'"> Promociones</button>
    </div>
  
    
    <div class="dashboard-content">
      <ng-container [ngSwitch]="seccionActiva">
        <div *ngSwitchCase="'ventas'">
          <h3>📊 Informe de Ventas</h3>
          <p>Visualiza las ventas mensuales por sucursal.</p>
        </div>
        <div *ngSwitchCase="'desempeno'">
          <h3>📈 Desempeño de Tienda</h3>
          <p>Evalúa el rendimiento de cada local.</p>
        </div>
        <div *ngSwitchCase="'promos'">
          <h3>💡 Promociones</h3>
          <p>Crea campañas para aumentar las ventas.</p>
        </div>

      </ng-container>
    </div>
  </div>
  