<nav class="navbar">
    <div class="navbar-logo">
      <img src="assets/images/logo_ferremas.png" alt="Logo FERREMAS" />
    </div>
  
    <div class="navbar-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      <a routerLink="/catalogo" routerLinkActive="active">Catálogo</a>
      <a routerLink="/carrito" routerLinkActive="active">🛒</a>
      <a routerLink="/login" class="login-link" routerLinkActive="active">Iniciar Sesión</a>
    </div>
  </nav>
  