<section class="tabla-ventas">
  <h2>Listado de Ventas</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Total</th>
        <th>Fecha</th>
        <th>Tipo de Entrega</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventas">
        <td>{{ venta.id }}</td>
        <td>{{ venta.cliente }}</td>
        <td>{{ venta.total | currency:'CLP' }}</td>
        <td>{{ venta.fecha }}</td>
        <td>{{ venta.tipoEntrega }}</td>
        <td>{{ venta.estado }}</td>
      </tr>
    </tbody>
  </table>
</section>
